/*Marc-Andre Brochu et Rafael David Higuera Silva*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: Verdana, Arial, sans-serif;
  width: auto;
  margin: 0;
}

header {
  background-color: #66CCFF;
  background-image: url('./images/logobackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
}

main {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
}

h1 {
  padding: 20px;
  text-align: left;
  font-size: 50px;
  color: #0099CC;
}

h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
  margin: 0;
}

h3{
  color: black;
}

p{
  text-align: left;
  width: 90%;
  margin-left: 10px;
}

dl {
  padding: 0.5em;
}

dt {
  clear: left;
  width: 100%;
  text-align: left;
  font-weight: bold;
  color: #0099CC;
  font-size: 20px;
}

dd {
  margin-left: 5%;
  margin-top: 20px;
  width: 95%;
}

a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

a:hover {
  color: #003399;
}

span {
  font-weight: bold;
  font-size: 110%;
  color: #000033;
}

footer {
  margin-top: 50px;
  float: right;
  padding: 10px;
  font-size: 20px;
  background-color: #66CCFF;
  text-align: left;
  width: 100%;
}

.menu {
  margin-top: 5px;
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
}

.items {
  margin: 30px;
  margin-bottom: 5px;
}

.item {
  position: relative;
  padding: 1px;
  width: 32%;
  height: 300px;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
}

.item img {
  width: 300px;
  height: 300px;
}

.item p{
  text-align: center;
  color: #003399;
}

.item p span {
  text-decoration: line-through;
  font-size: 12px;

}

input[type=text], input[type=email] , input[type=tel] ,input[type=date] , select, textarea  {
    width: 100%;
    padding: 12px;
    border: 1px solid #003399;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #003399;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulaire {
    padding: 20px;
}

.formulaire div {
  padding: 10px;
  border: 1px solid #003399;
  margin-bottom: 10px;
}
